<div id="mood<%= mood.id %>">
  <span class="state"><%= mood.state %></span>
  <span class="timestamp">
    Saved <%= time_ago_in_words(mood.created_at) %> ago.
  </span>
  <% if mood.user == current_user && mood.new_enough? %>
    <%= link_to "delete", mood, method: :delete, data: { confirm: "You sure?" }, title: mood.state %>
  <% end %>
</div>

