<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.moods.any? %>
      <h3>Moods (<%= @user.moods.count %>)</h3>
      <div class="moods">
      <%= render @moods %>
      </div>
    <% end %>
  </div>
</div>
