<%= form_for(@mood) do |f| %>
<span id="mood_display">6</span><br />
<%= f.range_field :state, min: 1, max: 10, class: "mood_select" %><br />
<div>
  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
</div>
<% end %>

<%= javascript_include_tag "mood.slide-display" %>
